.main-content {
    background-image: url('assets/BackgroundImage.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-content-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    color: #4a5fd4;
    margin-bottom: 20px;
}

.app-promo h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.app-promo p {
    font-size: 1rem;
}

.app-promo .btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.app-promo .btn-group img {
    max-width: 150px;
    margin: 0;
    width: 100%;
    flex: 1;
}

.mobile-preview img {
    max-width: 100%;
}

.navbar-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand-center {
    display: flex;
    align-items: center;
}

.navbar-floating {
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(248, 249, 250, 0.9);
    margin-bottom: 20px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Centering the hamburger icon */
.navbar-toggler {
    margin: 0 auto;
}

.nav-link, .navbar-brand {
    color: black !important;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px;
}

.container .row {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .app-content-wrapper {
        width: 90%;
        margin: 0 auto 20px auto;
    }
    .mobile-preview {
        order: 1;
        width: 90%;
        text-align: center;
        margin: 20px auto 0 auto;
    }
    .mobile-preview img {
        max-width: 100%;
    }
    .navbar-center {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .container .row {
        flex-direction: column;
        align-items: center;
    }
}
